<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>车辆详细信息-道路交通违章信息管理系统</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'TrafficMan/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css">
     <link rel="icon" type="image/png" href="{% static 'TrafficMan/images/favicon.png' %}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">道路交通违章信息管理系统</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/dashboard"><i class="fas fa-home"></i>个人中心</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vehicles"><i class="fas fa-car"></i>我的车辆<span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/violations"><i class="fas fa-exclamation-circle"></i>我的违章</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle m-r-auto" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>{{ username }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i>登出</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-5"></div>
        <div class="page-header">
            <h2>车辆信息</h2>
        </div>
        <div class="card col-lg-6">
            <div class="card-body">
                <p class="card-text">机动车VIN编号：{{ vehicle_info.engine_id }}</p>
                <p class="card-text">车牌号码：{{ vehicle_info.plate_number }}</p>
                <p class="card-text">品牌：{{ vehicle_info.brand }}</p>
                <p class="card-text">型号：{{ vehicle_info.manufacture_model }}</p>
                <p class="card-text">颜色：{{ vehicle_info.color }}</p>
                <p class="card-text">车型：{{ vehicle_info.get_vehicle_type_display }}</p>
                <p class="card-text">排量：{{ vehicle_info.displacement }}</p>
                <p class="card-text">出厂日期：{{ vehicle_info.manufacture_date }}</p>
                <p class="card-text">使用年限：{{ vehicle_info.life_duration }} 年</p>
                <p class="card-text">状态：{{ vehicle_info.get_status_display }}</p>
            </div>
        </div>
        <div class="row mt-3"></div>
        <h2>行驶证信息</h2>
        <p id="no_license_msg" class="text-muted">{{ no_license_msg }}</p>
        <div class="card col-lg-6" id="license_block">
            <div class="card-body">
                <p class="card-text">使用性质：{{ license_info.get_usage_display }}</p>
                <p class="card-text">注册日期：{{ license_info.registration_date }}</p>
                <p class="card-text">发证日期：{{ license_info.issue_date }}</p>
            </div>
        </div>
    </div>
    <script>
        if(document.getElementById('no_license_msg').innerText!=''){
            var license_block = document.getElementById('license_block')
            license_block.style.display = 'none'
        }
    </script>
</body>
</html>